html, body, #app, .grid-container, .table {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #e7ecf1;
}

.table {
    display: grid;
    grid-template-rows: 1fr 1fr 9fr;
}

.table-tool-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.selected-active {
    background-color: #b3ccfa;
}

.table-title {
    grid-column: auto;
    margin: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.5;
    color: #242424;
}

.selected-active-text {
    color:  #3f51b5;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.019;
}

.table-action {
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;
}

.table-head {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 2fr 2fr 1fr;
    place-items: center;
    border-bottom: 1px solid #c7c7c7;
    box-shadow: 0px 5px 7px #c9c9c9;
}

.table-header {
    grid-column: auto;
    color: #636262;
}

.table-body {
    overflow-y: scroll;     /* for firefox support */
    overflow-y: overlay;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 2fr 2fr 1fr;
    place-items: center;
    border-bottom: 1px solid #d3d3d3;
}

.table-row-selected {
    background-color: #d9e4fa;
}

.table-row:hover, .table-row-selected:hover {
    background-color: #c7dbff;
}

.table-cell {
    grid-column: auto;
}

.description {
    justify-self: stretch;
}

.description-field {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'title title'
        'progress-bars progress-bars'
        'workout-table workout-table'
        'buttons buttons'
    ;
    grid-template-rows: 1fr 2fr minmax(0, 9fr) 1fr;
    justify-items: center;
}

.title {
    grid-area: title;
    justify-self: stretch;
    text-align: center;
    color: #e0e0e0;
    font-size: 3.75rem;
    font-weight: 400;
    text-shadow: 1px 1px #333333;
    box-shadow: 0px 5px 10px #2e2e2e;
    background-color: #3f51b5;
}

.progress-bars {
    grid-area: progress-bars;
    display: grid;
    grid-template-areas: 'progress-bar-left progress-bar-right';
    justify-self: stretch;
    position: relative;
}

.progress-bar-left, .progress-bar-right {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #242424;
}

.progress-bar-left {
    grid-area: progress-bar-left;
    justify-self: end;
    margin-right: 5rem;
}

.progress-bar-right {
    grid-area: progress-bar-right;
    justify-self: start;
    margin-left: 5rem;
}

.workout-table {
    grid-area: workout-table;
    justify-self: stretch;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    box-shadow: 0px -5px 7px #c9c9c9 inset;
}

.buttons {
    grid-area: buttons;
    justify-self: end;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.buttons .button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.progressLabel {
    text-align: center;
}

.sign-in {
    position: absolute;
    top: 20px;
    right: 10px;
}

.icon {
    margin-left: 0.5rem;
}

.logo {
    vertical-align: middle;
    margin-right: 1.5rem;
    width: 3.2rem;
}

.title-text {
    vertical-align: middle;
}

.toast {
    background: #f50057 !important;
    border-radius: 10px !important;
    color: #ffffff !important;
    position: relative;
    top: 4.5rem;
}